h1 Drawesome!

   script
     var canvas = document.createElement('canvas');
   script(src='client.js')

     function createContext(width, height) {
        var canvas = document.createElement('canvas');
        canvas.width=500;
        canvas.height=300;
        return canvas.getContext("2d");
     };

     socket.on('message', function(message) {
         console.log("message received from %s: it says %s", message.id, message.text);
         //if (message.origin != client.id)
            alert(message.text);
         
         alert("HEY! YOUR ID IS: " + client.id + "\n" +
               "Your color is :  " + client.color.r + client.color.g + client.color.b);
     });

     socket.on('sync_client', function(info) {
       console.log("Updating with info from server");
       client.id = info.id;
       client.color = info.color;
     });
     
     socket.on('points_s2c')
