<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<pre>&lt;!DOCTYPE html&gt;
  &lt;head&gt;
    &lt;title&gt;Drawesome0.0.1&lt;/title&gt;
    &lt;link href=&quot;../../BootstrapFrontEnd/bootstrap/css/bootstrap.min.css&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;style type='text/css'&gt;
    body {
      background-color: #CCC;
    }
    &lt;/style&gt;
  &lt;/head&gt;

  &lt;body&gt;

  &lt;/body&gt;  


&lt;/html&gt;</pre>
</body>
</html>
