!!!
html
  head
    title WELCOME TO DRAWESOME!
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='./socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-1.6.2.min.js')
    script
     var socket = io.connect('http://localhost:3000');
     
     var client = {
       id: "",
       name: prompt("Type your name:"),
       color: null
     }
     
     if (client.name == '')
       client.name = 'Anonymous Coward';
     
       socket.on('connect', function () {
         socket.emit('client_connected', client);
     });
     
     
  body!=body
